body {
  font-family: "Arial" !important;
  line-height: 1.8;
  color: #f5f6f7;
  background-color: #dcf8c6 !important;
}
#txt-encrypted {
  margin: 14px 0px !important;
}
.white {
  color: #075e54 !important;
  font-size: bold !important;
}
.block-1 {
  display: block !important;
}
.bg-2 {
  background-color: #075e54;
  color: #ffffff;
}
.container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
}
.btn {
  background: #075e54 !important;
}
#clear {
  margin-top: 16px !important;
  margin-left: -10px;
}
.btn-lg {
  width: 100% !important;
}
.alert1, .alert2 {
  margin-top: 20px;
}
#txt-offset {
  width: 50%;
}
::selection {
  background: #0a8576;
  color: #f5f6f7;
}