body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section {
    margin-bottom: 20px;
    margin-top: 20px;
}
div {
    margin-top: 20px;
    margin-bottom: 20px;
}
textarea {
    margin-top: 10px;
}

.button {
    border-radius: 8%;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    margin: 5px;
    cursor: pointer;
}

#txtOffset {
    padding: 10px 5px;
}
